Mago4Butler.BL/Service References/PAASUpdates/UpdatesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.microarea.it/PAASUpdates/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.microarea.it/PAASUpdates/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.microarea.it/PAASUpdates/">
      <s:element name="GetUpdates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:GetUpdatesRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUpdatesRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeclaredVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductSignature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUpdatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdatesResult" type="tns:GetUpdatesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetUpdatesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DownloadUri" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdatesAvailable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MsiFileName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUpdatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdates" />
  </wsdl:message>
  <wsdl:message name="GetUpdatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdatesResponse" />
  </wsdl:message>
  <wsdl:portType name="UpdatesServiceSoap">
    <wsdl:operation name="GetUpdates">
      <wsdl:input message="tns:GetUpdatesSoapIn" />
      <wsdl:output message="tns:GetUpdatesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdatesServiceSoap" type="tns:UpdatesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdates">
      <soap:operation soapAction="http://www.microarea.it/PAASUpdates/GetUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdatesServiceSoap12" type="tns:UpdatesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdates">
      <soap12:operation soapAction="http://www.microarea.it/PAASUpdates/GetUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdatesService">
    <wsdl:port name="UpdatesServiceSoap" binding="tns:UpdatesServiceSoap">
      <soap:address location="http://localhost/PAASUpdates/UpdatesService.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdatesServiceSoap12" binding="tns:UpdatesServiceSoap12">
      <soap12:address location="http://localhost/PAASUpdates/UpdatesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>