Reporter/Web References/PAASUpdates/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.microarea.it/PAASUpdates/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.microarea.it/PAASUpdates/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.microarea.it/PAASUpdates/">
      <s:element name="StoreReportData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reportData" type="tns:ReportData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReportData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NetFxVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Exception" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StoreReportDataResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StoreReportDataSoapIn">
    <wsdl:part name="parameters" element="tns:StoreReportData" />
  </wsdl:message>
  <wsdl:message name="StoreReportDataSoapOut">
    <wsdl:part name="parameters" element="tns:StoreReportDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportServiceSoap">
    <wsdl:operation name="StoreReportData">
      <wsdl:input message="tns:StoreReportDataSoapIn" />
      <wsdl:output message="tns:StoreReportDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportServiceSoap" type="tns:ReportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreReportData">
      <soap:operation soapAction="http://www.microarea.it/PAASUpdates/StoreReportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportServiceSoap12" type="tns:ReportServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreReportData">
      <soap12:operation soapAction="http://www.microarea.it/PAASUpdates/StoreReportData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="ReportServiceSoap" binding="tns:ReportServiceSoap">
      <soap:address location="http://localhost/PAASUpdates/ReportService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportServiceSoap12" binding="tns:ReportServiceSoap12">
      <soap12:address location="http://localhost/PAASUpdates/ReportService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>